* {
  font-family: Arial, Helvetica, sans-serif;
}

.container-1,
.container-2,
.container-3,
.container-4,
.container-5,
.container-6 {
  padding: 20px;
  border: 3px solid black;
  border-radius: 10px;
  margin: 20px 0px;
}

.container-1 img {
  width: 200px;
  border: 10px solid blue;
  transition: border-color 0.3s;
}

.container-1 p.kotak {
  border: 2px solid black;
  padding: 5px;
}

.container-1 .p-none {
  display: none;
}

.container-1 img.red {
  border-color: red;
}

.container-4 button {
  width: 100px;
  height: 100px;
  margin: 20px;
}
